:root {
  --background-rgb: 242, 244, 255;
  --left-padding: 2vw;
  --margin-top: 2vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
  background-color: rgb(var(--background-rgb));
}
