.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  max-width: 100%;
  margin-top: var(--margin-top);
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: var(--left-padding);
}

.image {
  padding-left: var(--left-padding);
}

/* Mobile */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .item1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
